* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.alpha-index ul  {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}


main {
  width: 100%;
  margin: 0 auto;
}


.content{
  display: flex;
  margin-top: 50px;
}
section{
  width: 100%;
}
.alpha-index{
  margin-top: 50px;
  padding: 10px;
  position: sticky;
  align-self: flex-start;    
  top: 0;
  background-color: #f6f6f6;
}
section h1{
  color: #393838;
}
.alpha-index ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section li {
  margin: 0;
  padding: 4px 11px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}


section a {
  display: block; 
  height: 100%; 
  width: 100%; 
  text-decoration: none;
  color: #161616;  
}

section li:hover, section li:last-child:hover {
  cursor: pointer;
  border-radius: 2px;
  background-color: #161616;
  transition: all .2s ease-in;
}

section li:hover a, section li:last-child:hover {
  color: white;
}






.alphabet > div{
  margin-top: 30px;
}
.alphabet h3{
  font-size: 16px;
  font-weight: 600;
  color: #161616;
}
.brands{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 15px 0;
}
.brands span{
  font-size: 13px;
  font-weight: 400;
  color: #161616;
}
.brands span:hover{
  text-decoration: underline;
  cursor: pointer;
}
hr{
  margin-top: 40px;
}
.alpha-index li:first-child:hover{
  cursor: default;
  background-color: white;
  color: #161616;
}


@media (max-width: 1024px) {
  
  .content{
    display: block;
  }
  .alphabets{
    display: flex;
    flex-direction: row-reverse;
  }
  .alpha-index{
    background-color: white;
  }
  
  .alpha-index ul {
    display: block;
    justify-self: end;
  }
  .alpha-index li {
    margin-bottom: 5px;
    text-align: center;
  }
  .alpha-index li:first-child{
    display: none;
  }
  .alphabet-container{
    flex-grow: 4;
  }
}



@media (max-width: 768px) {
  
  section h1{
    font-size: 20px;
  }
  .brands, .brands span{
    display: block;
  }
  hr{
    display: none;
  }
  .alphabet h3{
    background-color: #f5f5f5;
  }
  .brands a{
    margin-top: 10px;
  }
}